.site-content-category {
	.header-top {
		.header-banner {
			display: none;
		}
		.nav .nav-item {
			margin: 0;
		}
	}
	.container {
		.subscribe-form {
			width: 100%;
		}
	}
	.main-content {
		text-align: justify;
	}
}