$mediaOnlyMobileAndTablet: "all and (max-width :1024px)";

$primary: #0056b3;
$white: #ffffff;
$black: #000000;

$grey1: #ced4da;
$grey2: #c1c1c1;
$grey3: #a8a8a8;

$blue1: #c5e1ff;
$orange1: #F96932;
$orange2: #ec571e;

$green1: #009906;
$green2: #00cd08;

$orange_20: rgba(254,177,153,.2);
$blue_75: rgba(197,225,252,.75);
